<div class="galerie">
  <div *ngIf="count == 1">
    <div class="snapshot" *ngIf="webcamImages[1]">
      <img [src]="webcamImages[1]"/>
    </div>
  </div>

  <div class="sm-images" *ngIf="count != 1">
    <div class="flex-images" *ngFor="let image of webcamImages">
      <div class="snapshot" *ngIf="image">
        <img class="sm-img" [src]="image"/>
      </div>
    </div>
  </div>
  <button routerLink="">Nochmal!</button>
  <p>Den Link zu allen Bildern findest du innerhalb der nächsten 48 h auf der Webseite der Party.</p>
</div>
